{{ define "main"}}

<!-- Page Content-->
<div class="container px-4 px-lg-5 py-4">

    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
           
            <h1 class="text-white m-0">
                Blog
            </h1>
            {{ partial "tabs" .}}
           
            
        </div>
    </div>

    <h1 class=" mb-3">
        All blogs
    </h1>

    <div class="row">
        {{ range .Pages}}

        <div class="col-3">

            <div class="card" style="width: 18rem; margin-bottom: 1rem;">
                {{ if .Params.banner }}
                <img src="{{ .Params.banner | relURL }}" class=" card-img-top img-responsive" alt="">
                {{ else }}
                <img src="{{ "img/placeholder.png" | relURL}}" class=" card-img-top img-responsive" alt="">
                {{ end }}
                <div class="card-body">
                    <h5 class="card-title" style="color:black;">{{ .Title }}</h5>
                    <a href="{{ .URL }}" class="btn btn-primary">View Article</a>
                </div>
            </div>
        </div>


        {{ end }}
    </div>



</div>

{{ end }}